templates/n8n/github-weekly-digest.json
{
  "name": "GitHub Weekly Digest",
  "nodes": [
    {
      "id": "trigger-schedule",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 300],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 17 * * 5"
            }
          ]
        }
      }
    },
    {
      "id": "github-config",
      "name": "GitHub Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.5,
      "position": [450, 300],
      "parameters": {
        "values": {
          "string": [
            {
              "name": "repoOwner",
              "value": "={{ $parameter['repoOwner'] || 'owner' }}"
            },
            {
              "name": "repoName",
              "value": "={{ $parameter['repoName'] || 'repo' }}"
            },
            {
              "name": "language",
              "value": "={{ $parameter['language'] || 'EN' }}"
            },
            {
              "name": "webhookUrl",
              "value": "={{ $parameter['webhookUrl'] || '' }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "fetch-commits",
      "name": "Fetch Weekly Commits",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 200],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.github.com/repos/' + $json.repoOwner + '/' + $json.repoName + '/commits?since=' + $node['Weekly Schedule'].json['_cronPreviousRun'] + '&per_page=50' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-weekly-digest"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "fetch-issues",
      "name": "Fetch Closed Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 400],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.github.com/repos/' + $json.repoOwner + '/' + $json.repoName + '/issues?state=closed&since=' + $node['Weekly Schedule'].json['_cronPreviousRun'] + '&per_page=50&sort=updated' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-weekly-digest"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "fetch-prs",
      "name": "Fetch Merged PRs",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [650, 600],
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://api.github.com/repos/' + $json.repoOwner + '/' + $json.repoName + '/pulls?state=closed&per_page=50&sort=updated&direction=desc' }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github.v3+json"
            },
            {
              "name": "User-Agent",
              "value": "n8n-weekly-digest"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "alwaysOutputData": true
    },
    {
      "id": "merge-data",
      "name": "Merge & Format Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 400],
      "parameters": {
        "jsCode": "// Combine all GitHub data into a single payload for Claude\nconst commits = $input.all()[0]?.json?.results || [];\nconst issues = $input.all()[1]?.json?.results || [];\nconst prs = $input.all()[2]?.json?.results || [];\n\n// Current week range\nconst now = new Date();\nconst weekAgo = new Date(now.getTime() - 7 * 24 * 60 * 60 * 1000);\n\nconst formatCommit = (c) => `- ${c.commit.message.split('\\n')[0]} (${c.author?.login || 'unknown'})`;\nconst formatIssue = (i) => `- #${i.number}: ${i.title} (by ${i.user?.login || 'unknown'})`;\nconst formatPR = (p) => `- #${p.number}: ${p.title} (by ${p.user?.login || 'unknown'}, merged: ${!!p.merged_at})`;\n\nconst commitList = (commits || []).slice(0, 30).map(formatCommit).join('\\n');\nconst issueList = (issues || []).slice(0, 20).map(formatIssue).join('\\n');\nconst prList = (prs || []).slice(0, 20).map(formatPR).join('\\n');\n\nconst payload = {\n  repoOwner: $json.repoOwner,\n  repoName: $json.repoName,\n  weekStart: weekAgo.toISOString().split('T')[0],\n  weekEnd: now.toISOString().split('T')[0],\n  stats: {\n    totalCommits: (commits || []).length,\n    totalClosedIssues: (issues || []).length,\n    totalPRs: (prs || []).length\n  },\n  commits: commitList || 'No commits this week',\n  issues: issueList || 'No closed issues this week',\n  prs: prList || 'No PRs this week',\n  language: $json.language || 'EN'\n};\n\n// Build the prompt for Claude\npayload.claudePrompt = `You are a technical writer. Generate a weekly development summary for the GitHub repository ${payload.repoOwner}/${payload.repoName}.\n\nWeek: ${payload.weekStart} to ${payload.weekEnd}\n\n## Stats\n- Commits: ${payload.stats.totalCommits}\n- Closed Issues: ${payload.stats.totalClosedIssues}\n- Pull Requests: ${payload.stats.totalPRs}\n\n## Commits\n${payload.commits}\n\n## Closed Issues\n${payload.issues}\n\n## Pull Requests\n${payload.prs}\n\nPlease write a concise narrative summary (2-3 paragraphs) covering:\n1. What was the main focus of the week?\n2. Key changes and improvements\n3. Notable fixes or issues resolved\n4. Looking ahead\n\nWrite in ${payload.language === 'ZH' ? 'Chinese (Simplified)' : 'English'}. Keep it professional and engaging.`;\n\nreturn [{ json: payload }];"
      }
    },
    {
      "id": "claude-api",
      "name": "Claude API Call",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1050, 400],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "={{ $credentials.claudeApiKey }}"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "claude-sonnet-4-20250514"
            },
            {
              "name": "max_tokens",
              "value": 2048
            },
            {
              "name": "messages",
              "value": "={{ [{'role': 'user', 'content': $json.claudePrompt}] }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      }
    },
    {
      "id": "format-output",
      "name": "Format Digest",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 400],
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst claudeResponse = data.content[0]?.text || 'Could not generate summary.';\n\nconst payload = {\n  repoOwner: $json.repoOwner,\n  repoName: $json.repoName,\n  weekStart: $json.weekStart,\n  weekEnd: $json.weekEnd,\n  summary: claudeResponse,\n  stats: $json.stats\n};\n\n// Format for Discord (with embeds)\npayload.discordMessage = {\n  embeds: [{\n    title: `Weekly Digest: ${payload.repoOwner}/${payload.repoName}`,\n    description: payload.summary,\n    color: 3447003,\n    fields: [\n      { name: 'Commits', value: String(payload.stats.totalCommits), inline: true },\n      { name: 'Issues Closed', value: String(payload.stats.totalClosedIssues), inline: true },\n      { name: 'PRs', value: String(payload.stats.totalPRs), inline: true }\n    ],\n    footer: { text: `Week of ${payload.weekStart} to ${payload.weekEnd}` },\n    timestamp: new Date().toISOString()\n  }]\n};\n\nreturn [{ json: payload }];"
      }
    },
    {
      "id": "deliver-digest",
      "name": "Send to Discord",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [1450, 400],
      "parameters": {
        "method": "POST",
        "url": "={{ $json.webhookUrl || $parameter.getWebhookUrl }}",
        "authentication": "none",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ $json.discordMessage }}"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [[{ "node": "GitHub Config", "type": "main", "index": 0 }]]
    },
    "GitHub Config": {
      "main": [[
        { "node": "Fetch Weekly Commits", "type": "main", "index": 0 },
        { "node": "Fetch Closed Issues", "type": "main", "index": 0 },
        { "node": "Fetch Merged PRs", "type": "main", "index": 0 }
      ]]
    },
    "Fetch Weekly Commits": {
      "main": [[{ "node": "Merge & Format Data", "type": "main", "index": 0 }]]
    },
    "Fetch Closed Issues": {
      "main": [[{ "node": "Merge & Format Data", "type": "main", "index": 0 }]]
    },
    "Fetch Merged PRs": {
      "main": [[{ "node": "Merge & Format Data", "type": "main", "index": 0 }]]
    },
    "Merge & Format Data": {
      "main": [[{ "node": "Claude API Call", "type": "main", "index": 0 }]]
    },
    "Claude API Call": {
      "main": [[{ "node": "Format Digest", "type": "main", "index": 0 }]]
    },
    "Format Digest": {
      "main": [[{ "node": "Send to Discord", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "pinData": {},
  "versionId": "weekly-digest-v1"
}
